// Navigation

.navbar-default {
  background-color: #ff5a5f;
}
.navbar-brand {
  text-transform: uppercase;
  text-decoration: none;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

// Buttons
.btn-primary {
  background-color: #ff5a5f;
  border-color: #aa383b;
}

.btn-primary:hover {
  background-color: #ff8285;
  border-color: #c46465;
}
