// Rooms
.panel-primary {
  border-color: #aa383b;
}

.panel-primary > .panel-heading {
  background-color: #ff5a5f;
  border-color: #aa383b;
  font-size: 20px;
}

.col-md-5 {
  text-align: right;
}

.sidebar-link.active {
  color: #ff5a5f;
}

.sidebar-link {
  color: #000;
}

.panel-default {
  border-color: #aa383b;
}

.panel-default > .panel-heading {
  border-color: #aa383b;
}

.panel-default > .panel-heading .preview {
  background-color: #fff;
}

.panel-heading.edit {
  background-color: #ff5a5f;
  color: #fff;
  font-size: 20px;
}
