// Rooms
.panel-primary {
  border-color: #aa383b;
}

.panel-primary > .panel-heading {
  background-color: #ff5a5f;
  border-color: #aa383b;
}

.col-md-5 {
  text-align: right;
}

.sidebar-link.active {
  color: #ff5a5f;
}

.sidebar-link {
  color: #000;
}
